.navbar {
    background-color: #333;
    overflow: hidden;
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar a {
    color: #f2f2f2;
    text-align: center;
    padding-left: 92px;
    padding-right: 92px;
    padding-top: 18px;
    padding-bottom: 18px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
}

.navbar li {
    display: inline;
}

.navbar a:hover {
    background: wheat;
    color: black;
}

html {
    background-color: wheat;
}

img {
    padding: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 650px;
}

h1 {
    text-align: center;
    color: red;
}

h3 {
    text-align: center;
    font-size: 25px;
    color: brown;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 15px 15px;
    border-radius: 25%;
}

#myBtn:hover {
    background-color: #555;
}

a.button {
    border-color: #555;
    padding: 15px 18px;
    font-size: large;
    text-decoration: none;
    background-color: whitesmoke;
    color: black;
    border-radius: 20px;
}

a:hover {
    background-color: #555;
}

.btn {
    background-color: whitesmoke;
    border: none;
    color: black;
    padding: 10px 60px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn:hover {
    background-color: #EBE7B1;
}

.dow {
    text-decoration: none;
}

.tbpopup .tboverlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.tbpopup .tbcontent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    max-width: 500px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    border-radius: 20px;
    display: block;
    position: fixed;
    box-shadow: 0px 0px 10px #111;
}

@media (max-width: 700px) {
    .tbpopup .tbcontent {
        width: 90%;
    }
}

.tbpopup .tbclose-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 35px;
    height: 35px;
    color: #ff4444;
    font-size: 30px;
    font-weight: 600;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
}

.tbpopup.active .tboverlay {
    display: block;
}

.tbpopup.active .tbcontent {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.tbbuttom {
    background: #00cc00;
    color: #fff
}