.navbar {
    background-color: #333;
    overflow: hidden;
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar a {
    color: #f2f2f2;
    text-align: center;
    padding-left: 92px;
    padding-right: 92px;
    padding-top: 18px;
    padding-bottom: 18px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
}

.navbar li {
    display: inline;
}

.navbar a:hover {
    background: wheat;
    color: black;
}

html {
    background-color: wheat;
}



.wrapper {
    background-color: #f2f2f2;
    width: 500px;
    margin: auto;
    padding: 32px;
    padding-bottom: 1050px;
}